.title {
  text-align: center;
  font-size:35px;
  color: #09f;

}
.ancor {
  color:#09f;
  text-decoration: none;
}
.divPrimary {
  display: grid;
  place-items:center;
  height: 100%;

}
.box {
  background:#fff;
  box-shadow:0 10px 25px rgba(0,0,0,.2);
  border-radius: 10px;
  height:100vh;
  width:100%;
  overflow-y:auto; 

}

@media(min-width:520px){
   .box{
    width:500px;
    height:90vh;
    margin-top:3vh;
  }
}