.title {
  text-align: center;
  font-size:35px;
  color: #09f;

}
.ancor {
  color:#09f;
  text-decoration: none;
}
.hoverEffect {
@apply
flex items-center
hover:bg-gradient-to-r from-[#4596cc22] via-[#1f73ab22] to-[#139af522]
rounded-full
hover:scale-125 hover:brightness-110
w-[35px]
h-[35px]

}
.divPrimary {
  display: grid;
  place-items:center;
  height: 100%;

}
.box {
  background:#fff;
  box-shadow:0 10px 25px rgba(0,0,0,.2);
  border-radius: 10px;
  height:100vh;
  width:100%;
  overflow-y:auto;

}

@media(min-width:520px){
   .box{
    width:500px;
    height:90vh;
    margin-top:3vh;
  }
}